extends: default.liquid
path: /
route: main
---
<div >
  <h2>{{ name }}</h2>
  <div>
    Hello. My name is Jakub. I live in Warsaw and I am a developer. I've received master’s degree at <a aria-describedby="footnote-label" href="#elka" id="elka-ref">Faculty of Electronics and Information Technology</a> of the <a aria-describedby="footnote-label" href="#pw" id="pw-ref">Warsaw University of Technology</a>. The topic of my MA thesis was “Controlling music synthesis system with hand gestures”. I've implemented an proof-of-concept application using OpenCv and FluidSynth. The code was written in C++ and was terrible. I hope it was lost in the latest GitLab's database replication fiasco. It's true.
  </div>

  <div>After I started working for <a aria-descirbedby="footnote-label" href="#cubiware" id="#cubiware-ref">Cubiware</a>
  </div>

  {% comment %} Footnotes inspired by https://www.sitepoint.com/accessible-footnotes-css/ {% endcomment %}
  <div class="footnotes">
    <h2 id="footnote-label">Footnotes</h2>
    <hr/>
    <ol>
    <li id="elka"><a href="http://www.elka.pw.edu.pl/">Faculty of Electronics and Information Technology</a><a href="#elka-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    <li id="pw"><a href="https://www.pw.edu.pl/">Warsaw University of Technology</a><a href="#pw-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    <li id="cubiware"><a href="http://cubiware.com">Cubiware</a><a href="#cubiware-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    </ol>
  </div>
</div>
