---
layout: default.liquid
permalink: /
---
<div >
  {% comment %} <h2>{{ name }}</h2> {% endcomment %}
  <div>
    Hello. My name is Jakub. I live in Warsaw and I am a developer. I've received master’s degree at <a aria-describedby="footnote-label" href="#elka" id="elka-ref">Faculty of Electronics and Information Technology</a> of the <a aria-describedby="footnote-label" href="#pw" id="pw-ref">Warsaw University of Technology</a>. Right now I work as a backend software engineer at <a aria-describedby="footnote-label" href="#upnext" id="upnext-ref">Upnext</a>. I program in Ruby (professionally) and in Rust (as a hobby).
  </div>

  </br>
  <div>In my free time I volunteer for <a aria-describedby="footnote-label" href="#otwarteklatki" id="otwarteklatki-ref">Otwarte Klatki</a>/<a aria-describedby="footnote-label" href="#opencages" id="opencages-ref">Open Cages</a>. We are an international animal advocacy group with particular focus on Central and Eastern Europe. We do everything from investigations to corporate outreach.
  </div>

  {% comment %} Footnotes inspired by https://www.sitepoint.com/accessible-footnotes-css/ {% endcomment %}
  <div class="footnotes">
    <h2 id="footnote-label">Footnotes</h2>
    <hr/>
    <ol>
    <li id="elka"><a href="http://www.elka.pw.edu.pl/">Faculty of Electronics and Information Technology</a><a href="#elka-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    <li id="pw"><a href="https://www.pw.edu.pl/">Warsaw University of Technology</a><a href="#pw-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    <li id="upnext"><a href="http://upnext.io">Upnext</a><a href="#upnext-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    <li id="otwarteklatki"><a href="http://otwarteklatki.pl">Otwarte Klatki</a><a href="#otwarteklatki-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    <li id="opencages"><a href="https://opencages.org">Open Cages</a><a href="#opencages-ref" aria-label="Back to content">&nbsp;&nbsp;&nbsp;↵</a></li></li>
    </ol>
  </div>
</div>
