---
layout: default.liquid
title: Blog
permalink: /posts/
---

<h1>Blog</h1>

{% for post in collections.posts.pages %}

<div>
  {{ post.published_date | date: "%b %-d, %Y" }}
    »
  <span class='post-title'>
    <a href="/{{ post.permalink }}">{{ post.title }}</a>
  </span>
</div>

{% endfor %}
